.chat-box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2em;
    box-shadow: inset;
    background-color: transparent;
    opacity: 1;
   
}


.tools-container {
    opacity: 1;
    /* background-color: transparent; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    border: 1px solid #2e2e2e;
        border-radius: 1em;
    padding: 10px;
    transition: 0.25s all ease-in-out;
    position: relative;
     z-index: 50;
}

.input-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tools-container::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, #05756c, transparent);
    transition: all 0.25s ease-in-out;
    transform: translateX(-50%);
}

.tools-container:focus-within{
    transition-delay: 0.1s;
    box-shadow: 0px 0px 20px rgba(2, 74, 83, 0.5);
}

.tools-container:focus-within::after {
    width: 100%;
}

/* .tools-container:focus-within {
    box-shadow: 0px 0px 20px rgba(2, 74, 83, 0.5);
    border-image: linear-gradient(90deg, transparent, #05756c 40%, #05756c 60%, transparent) 1;
    border-image-slice: 0 0 1 0;
} */

.inp {
    width: 100%;
    padding-left: 4px;
    /* border: 2px solid #ccc; */

    /* resize: vertical; */
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    max-height: 35vh;
    min-height: 8vh;
    white-space: pre-wrap;
    word-break: break-word;
    /* margin-top: 5px; */
}

.send-icon {
    border: 1px solid rgb(6, 116, 116);
    padding: 0.5em;
    border-radius: 0.75em;
    width: 2rem;
    height: 2rem;
    background-color: rgb(6, 116, 116);
    stroke: black;
    fill: black;
    transition: 0.25s all ease-in-out;
}

.attach-icon {
    border: #5f5f5f solid 1px;
    padding: 0.5em;
    border-radius: 0.75em;
    width: 2rem;
    height: 2rem;
    background-color: #3b3b3b;
    stroke: black;
    fill: black;
    transition: 0.25s all ease-in-out;
}




.tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.btn:hover {
    cursor: pointer;
}

.send-icon:hover {
    background-color: rgb(5, 146, 146);
}

.attach-icon:hover {
    background-color: rgb(5, 146, 146);
}


.file-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.file-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.file-list-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.file-list-item {
    display: flex;
    gap: 20px;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #414141;
    border-radius: 5px;
}

.remove-file-btn {
    background-color: #b43838;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}